@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-black text-white h-full w-full overflow-hidden;
    font-family: 'Inter', system-ui, sans-serif;
  }
}
